<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-card fxFlex="min(400px, 100%)">
      <mat-card-title fxLayoutAlign="center">My workout</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field
          fxFlex="80%"
          [ngClass]="loading || !exercises?.length ? 'hidden' : ''"
        >
          <mat-select
            placeholder="Select your exercise"
            ngModel
            name="exercise"
            #exerciseSelect="ngModel"
            required
          >
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="exerciseSelect.errors?.required">
            Select an exercise
          </mat-error>
        </mat-form-field>
        <mat-progress-spinner
          *ngIf="loading"
          mode="indeterminate"
          diameter="25"
        ></mat-progress-spinner>
        <button
          *ngIf="!loading && !exercises?.length"
          mat-mini-fab
          (click)="onRefresh()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end">
        <button
          type="submit"
          fxFlex="100px"
          mat-raised-button
          color="primary"
          [disabled]="loading || f.invalid"
        >
          Start !
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
