<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div fxLayout fxFlex fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-list">
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/training">Training</a></li>
    </ul>
  </div>
</mat-toolbar>
