<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm the sidenav !</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a href="/">LOGO</a></div>
      <div fxLayout fxFlex fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-list">
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/training">Training</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
