<section
  class="current-training"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <ng-container *ngIf="!exerciseDone; else success">
    <mat-progress-spinner
      mode="determinate"
      [value]="progress"
    ></mat-progress-spinner>
    <h1>{{ progress }}%</h1>
    <p>Keep on going ! No pain no gain !</p>
    <button mat-raised-button color="accent" (click)="onStopClick()">
      Stop
    </button>
  </ng-container>
  <ng-template #success>
    <mat-icon class="success-icon">task_alt</mat-icon>
    <h1>Completed</h1>
    <p>Congratulation !</p>
    <button mat-raised-button color="primary" (click)="onBackClick()">
      Return
    </button>
  </ng-template>
</section>
