<mat-nav-list>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onLinkClick()">
    <mat-icon>person_add</mat-icon>
    <span class="nav-label">Sign Up</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onLinkClick()">
    <mat-icon>login</mat-icon>
    <span class="nav-label">Login</span>
  </a>
  <a
    *ngIf="isAuth"
    mat-list-item
    routerLink="/training"
    (click)="onLinkClick()"
  >
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-label">Training</span>
  </a>
  <a *ngIf="isAuth" mat-list-item (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span class="nav-label">Logout</span>
  </a>
</mat-nav-list>
